<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="./css/style.css">
        <script src="./js/clientside.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>{{help}}</h2>
        </div>
        
        {{>footer}}
    </body>
</html>